body {
    font-family: "Roboto",sans-serif;
}

a {
    text-decoration: none;
}

a#h-link {
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    margin-left: 200px;
}

.header-link {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin-right: 200px;
}

.top-content {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome-text {
    margin-left: 200px;
    margin-right: auto;
    padding: 24px 24px 24px 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.welcome-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    text-wrap: wrap;
    margin-bottom: auto;
}

.welcome-text p {
    font-size: 18px;
    color: #e5e7eb;
    text-wrap: wrap;
    margin-top: auto;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
    width: 500px;
    margin-right: 200px;
    margin-left: auto;
}

#top-button {
    background-color: #3882f6;
    border-radius: 12px;
    padding: 12px 48px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: transparent;
}

.info-title {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.second-container {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.info {
    max-width: 100px;
}

.box {
    width: 100px;
    height: 100px;
    border: #3882f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 16px;
}

.text {
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    text-wrap: wrap;
}